
.PageContents {
  position:absolute;
  display:grid;
  grid-template-columns: 30vw 30vw;
  grid-column-gap: 4%;
  left:50%;
  transform: translate(-50%, 5%);
}

.Page{
  background-color: aliceblue;
  height: calc(100vh - 70px);

}
.EssayBox {
  width: 30vw;
  border-width: thick;
  outline-style: none;
  font-size: 20px;
  font-family: Arial;
  height: 85vh;
  resize: none;
  padding: 25px;
  border-radius: 35px;
  border-style: solid;
   white-space: pre-line;
  border-color: #263238;
  background-color: white;
  overflow: scroll;
  overflow-x: hidden;
}
.Instructions{
  position: absolute;
  left: -16vw;
  width: 15vw;
  height: 35vh;

}

.ErrorMessage{
  color: red;
}
.SubmitButton{
  display:block;
  margin-top: 5%;
  width: 20vw;
  height: 3vh;
  font-size: 20px;
  position: relative;
  top: 0;
}


.highlightedText {
  background-color: var(--color);
}
.GreenBox{
  width: 10px;
  height: 50px;
  background-color: green;
  display:inline-block;
}
.RedBox{
  width: 10px;
  height: 50px;
  background-color: red;
  display:inline-block;
}
.Annotation {
  margin-top: 150px;
}
