#root {
  background-color: aliceblue;
  min-width: 100%;
  min-height: 100vh;
}
#username {
  font-size: 50px;
  font-weight: bold;
}
#profileImage {
  width: 200px;
  height: 200px;
}
#profileImageContainer {
  float: left;
  padding: 50px;
}
#userInfoContainer {
  float: left;
  padding: 50px;
}
.subheading {
  font-size: 30px;
}
#creditIcon {
  width: 50px;
  margin-right: 5px;
  margin-bottom: -15px;
}

#subjectsContainer {
  clear: both;
  margin-left: 40px;
}
.subject {
  color: #263238;
  margin: 5px;
  border-radius: 200px;
  padding: 10px 20px;
  font-size: 24px;
  background-color: aliceblue;
  font-family: "lato";
  border-color: #00bad0;
  cursor: pointer;
}
#statsContainer {
  margin-top: 80px;
  width: 100%;
  text-align: center;
}
.header {
  font-size: 40px;
  font-weight: bold;
}

#statsTable {
  margin: auto;
  font-size: 30px;
  letter-spacing: 1px;
  width: 50%;
  text-align: left;
}
#editProfileContainer {
  margin-top: 80px;
  width: 100%;
  text-align: center;
}
#editForm {
  text-align: right;
  font-size: 30px;
  width: 40%;
  margin: auto;
  margin-top: 30px;
}
.field {
  width: 500px;
  height: 30px;
  margin-left: 30px;
  font-size: 20px;
}

#submitButton {
  background-color: #00bad0;
  color: #263238;
  border-radius: 100px;
  font-size: 24px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 50px;
}

#searchForUser {
  margin-top: 80px;
  width: 100%;
  text-align: center;
}

.searchBarContainer {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 18px;
}

.searchBar {
  flex-basis: 95%;
  max-width: 700px;
  border-radius: 20px;
  border: 2px solid #263238;
  padding: 10px 30px;
  font-size: 18px;
}

.searchButton {
  border: 1px solid #263238;
  background-color: #abe5ff;
  box-shadow: 0px 2px 2px #263238;
  border-radius: 20px;
  width: 5%;
  height: 45px;
  cursor: pointer;
  padding: 10px 15px;
}

.searchIcon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#banUserButton {
  background-color: red;
  color: white;
  font-size: 18px;
  border-radius: 100px;
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
}
