.ReviewEssaysContainer {
  background-color: aliceblue;
  padding-top: 30px;
  padding-bottom: 30px;
  min-width: 100%;
  min-height: calc(100% - 70px);
}

.totalCreditsContainer {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 22px;
}

.creditIcon {
  width: 52px;
  height: 52px;
}

.creditText {
  font-size: 34px;
  line-height: 42px;
  font-weight: 600;
  color: #263238;
}

.searchBarContainer {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar {
  width: 92%;
  max-width: 700px;
  border-radius: 20px;
  border: 2px solid #263238;
  padding: 10px 30px;
  font-size: 18px;
}
